<h1>Driver Trips List</h1>
<table mat-table [dataSource]="driverTripList" class="mat-elevation-z8">
  <ng-container matColumnDef="startTime">
    <th mat-header-cell *matHeaderCellDef>Start Time</th>
    <td mat-cell *matCellDef="let element">{{ element.startTime }}</td>
  </ng-container>

  <ng-container matColumnDef="endTime">
    <th mat-header-cell *matHeaderCellDef>End Time</th>
    <td mat-cell *matCellDef="let element">{{ element.endTime }}</td>
  </ng-container>

  <ng-container matColumnDef="pickUpLocation">
    <th mat-header-cell *matHeaderCellDef>Pick Up Location</th>
    <td mat-cell *matCellDef="let element">{{ element.pickUpLocation }}</td>
  </ng-container>

  <ng-container matColumnDef="dropOffLocation">
    <th mat-header-cell *matHeaderCellDef>Drop Off Location</th>
    <td mat-cell *matCellDef="let element">{{ element.dropOffLocation }}</td>
  </ng-container>

  <ng-container matColumnDef="passengers">
    <th mat-header-cell *matHeaderCellDef>Passengers</th>
    <td mat-cell *matCellDef="let element">{{ element.noOfPassengers }}</td>
  </ng-container>

  <ng-container matColumnDef="fare">
    <th mat-header-cell *matHeaderCellDef>Fare</th>
    <td mat-cell *matCellDef="let element">{{ element.fare }}</td>
  </ng-container>

  <ng-container matColumnDef="distance">
    <th mat-header-cell *matHeaderCellDef>Distance</th>
    <td mat-cell *matCellDef="let element">{{ element.distance }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Details</th>
    <td mat-cell *matCellDef="let element">
      <a [routerLink]="['/driver', element.DriverId, 'trip', element.id]"
        >View Details</a
      >
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data available.</td>
    <td class="mat-cell" *ngIf="error" colspan="4">
      <mat-error class="pd-10">
        {{ error }}
      </mat-error>
    </td>
  </tr>
</table>
